@using LeicaInstallation.Shared
@page "/employeeedit"
@page "/employeeedit/{EmployeeId}"

@if (!Saved)
{

    <section class="employee-edit">
        <h1 class="page-title">Details for @Environments.FirstName @Environments.LastName</h1>
        <EditForm Model="@Environments" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <div class="form-group row">
                <label for="lastName" class="col-sm-3">Environment IP: </label>
                <InputText id="lastName" @bind-Value="@Environments.LastName" class="form-control col-sm-8" placeholder="Enter IP Address"></InputText>
            </div>

            <div class="form-group row">
                <label for="firstName" class="col-sm-3">Environment Name: </label>
                <InputText id="firstName" class="form-control col-sm-8" @bind-Value="@Environments.FirstName" placeholder="Enter PC Name"></InputText>

            </div>

            <div class="form-group row">
                <label for="birthdate" class="col-sm-3">Added Date: </label>
                <InputDate id="birthdate" class="form-control col-sm-8" @bind-Value="@Environments.BirthDate" placeholder="Enter Today's Date"></InputDate>

            </div>

            @*<div class="form-group row">
                <label for="email" class="col-sm-3">Email: </label>
                <InputText id="email" class="form-control col-sm-8" @bind-Value="@Environments.Email" placeholder="Enter email"></InputText>

            </div>*@

            <div class="form-group row">
                <label for="street" class="col-sm-3">Added By: </label>
                <InputText id="street" class="form-control col-sm-8" @bind-Value="@Environments.Street" placeholder="Enter your name"></InputText>

            </div>

            @*<div class="form-group row">
                <label for="zip" class="col-sm-3">Zip code: </label>
                <InputText id="zip" class="form-control col-sm-8" @bind-Value="@Environments.Zip" placeholder="Enter zip code"></InputText>

            </div>*@

            <div class="form-group row">
                <label for="city" class="col-sm-3">Contact Person: </label>
                <InputText id="city" class="form-control col-sm-8" @bind-Value="@Environments.City" placeholder="Enter user's name"></InputText>

            </div>

            <button type="submit" class="btn btn-primary edit-btn">Add Environment</button>

            @if (Environments.EmployeeId > 0)
            {
        <a class="btn btn-danger" @onclick="@DeleteEmployee">
            Delete Environment
        </a>
            }

            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
            <a class="btn btn-outline-primary" @onclick="@OpenNotepad">OpenNotePad</a>
        </EditForm>
    </section>
}
else
{
    <div class="alert @StatusClass">@Message</div>
}


