@page "/environmentoverview"

<h1 class="page-title">All Environments</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Environment Index</th>
                <th>Environment Name</th>
                <th>Environment IP</th>
                <th>Environment Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@statusOfPC</td>
                    <td>
                        <a href="@($"environmentdetail/{employee.EmployeeId}")" class="btn btn-primary table-btn">
                           <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"environmentedit/{employee.EmployeeId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
